<html>

<head>
<link rel = "stylesheet" href = "app/assets/stylesheets/application.css">
</head>

<body>
<center> 
<h1> HOME PAGE </h1>
<button onclick = "viewform()"> View Form </button> 
</center>

<script>
function viewform()
{
    location.href = "articles";
}
</script>

</body>
</html>